.container{
    width:100%;
    height:50%;
    background-color:rgb(217, 193, 240);
}
.header{
    width:100%;
    height:50%;
    background-color:aqua;
}
.header h1{
    color:rgb(137, 133, 129);
    text-align: center;
    padding: 50px;
    font-size: 25px;
}
#menubar{
    width:100%;
    height:10%;
    background-color: rgb(141, 240, 166);
}
#menubar h1{
    color: rgb(222, 237, 226);
    text-align: center;
    padding: 25px;
}
.maincontent{
    width:100%;
    height:60%; 
} 
.footer{ 
    width:100%;
    height:10%;
    background-color: rgb(238, 168, 179)
}
li{
    list-style-type:none;
    float:left;
}
a{
    color:beige;
    font-size: 15px;
    margin-left: 10px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
}
a:hover{
    text-decoration:underline;
}